.rounded,.button1{
	margin-top:10px;
	border-radius:25px;
	padding:5px;
	outline:none;
	width:50%;
}

.button1{
	width:40%;
}

.img1{
	background:url('../images/fb1.jpg') repeat;
}

.round{
	border-radius:25px;
	outline:none;

}

.modal-dialog{
    height:90% !important;
}

.btnwidth{
	margin-top:10px;
	border-radius:25px;
	padding:5px;
	outline:none;
	width:20%;
}

.txtboxwidth{
	width:40%;
	border-radius:25px;
	padding:5px;
	outline:none;
}

