.header{
	background: linear-gradient(to top right, #000000 11%, #199999 75%);
}


/* .logo1{
	width:35%;
}

#myNavbar{
	margin-top:15px;
}

#out{
	outline:none;
}

#inp{
	border-radius:50px;
}

#btn1{
	border-radius:60px;
	background:#f4ffed;
	border:none;
}

.color{
	color:white;
}
 */
